.app__controller-wrapper{
    margin-top: 50px;
    position: relative;
  }
  
  .app__controller-wrapper::before{
    content: "";
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 900px;
    background-color: #5a5959;
    position: absolute;
    z-index: 1; 
    left: 45px; 
    top: 5px;
  }
  
  .controller__horizontal,
  .controller__vertical{
    border-radius: 5px;
    height: 60px;
    width: 140px;
    background-color: #444;
  }
  
  .controller__horizontal{
    position: absolute;  
  }
  
  .controller__vertical{
    position: absolute;
    transform: rotate(90deg);
  }
  
  .vertical__2,
  .horizontal__2{
    float: right;
    height: 100%;
    width: 40px;  
  }
  
  .vertical__1,
  .horizontal__1{
    float: left;
    height: 100%;
    width: 40px;
  }
  
  .vertical__2 img,
  .vertical__1 img,
  .horizontal__1 img,
  .horizontal__2 img{
    width: 100%;
    height: auto;
    margin-top: 10px;
  }
  
  .horizontal__1{
    box-shadow: -1px 5px 2px 0px rgba(0, 0, 0, 0.16);
  }
  
  .horizontal__2{
    box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.16);
  }
  
  .vertical__1{
    box-shadow: -1px -5px 2px 0px rgba(0, 0, 0, 0.16);  
  }
  
  .vertical__2{
    box-shadow: 4px -4px 2px 2px rgba(0, 0, 0, 0.16);
  }
  
  .controller__state-wrapper{
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .controller__btn{
    background-color: #444;
    height: 30px;  
    width: 30px;
    margin: 0 10px;
    display: inline-block;
    border-radius: 500px;
    box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.16);
  }
  
  .controller-btn__wording{
    font-family: digitalClock;
    font-size: 10px;
    top: 40px;
    position: absolute;
  }