html, body, #root{
  height: 100%;
}

@font-face {
  font-family: digitalClock;
  src: url(assets/digital-7.ttf);
}

@media only screen and (min-width: 1024px) {
  .app__wrapper{
    max-width: 300px;
  }
}

.app__wrapper{
  height: 100%;
  background: #eee;
  padding: 0 10px ;
  margin: auto;
  box-shadow: 5px 5px rgba(0,0,0,0.1);
  border-radius: 5px;
}

.title__wrapper{
  display: block;  
  margin: 0 auto 10px;
  text-align: center;
}

.app__title{
  font-size: 24px;
  text-align: center;
  font-family: "digitalClock";
  font-style: italic;
  margin: 5px 0;
  position: relative;
  display: inline-block;
}

.app__title::after,
.app__title::before{
  position: absolute;
  content: "";
  width: 80px;
  background-color: #8b1d90;
  box-shadow: 0 10px 0 #283593;
  height: 5px;
  top: 5px;  
}

.app__title::before{
  left: -85px;
}

.app__title::After{
  right: -85px;
}

.board__wrapper{  
  display: inline-block;
  height: 200px;
  width: 210px;
  background-color: #c4d0a2;
  margin: 20px auto 10px;
  box-shadow: inset 3px 3px rgba(0,0,0,0.15);
}

.board__cell{
  height: 10px;
  width: 10px;
  float: left;
  position: relative;
}

.board__cell::before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  border: 0.1px solid #4a4a4a45;
  width: 100%;
  height: 100%;
}

.board__food::after,
.snake__body::after,
.board__cell.obstacle::after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: #3a3e2d;
  width: 50%;
  height: 50%;
  margin: 2.5px;
}

.board__cell.snake__body::before,
.board__cell.obstacle::before,
.board__food::before{
  border: 0.1px solid #3a3e2d;
}

.dead-game .board__cell.snake__body::before{
  border: 0.1px solid red;
}
.dead-game .snake__body::after{
  background-color: red;
}

.snake__body.head{
  background-color: transparent;
}

.app__score-wrapper{
  font-family: 'digitalClock';
  font-size: 24px;
  text-align: center
}

.app__screen-wrapper{
  text-align: center;
  background-color: #777;
  padding: 1px 0 10px;
  border-radius: 5px;
}

.app__notification-wrapper{
  width: 260px;    
  background-color: #c4d0a2;
  margin: auto;
  padding: 10px 0;
  box-shadow: inset 3px 3px rgba(0,0,0,0.15);
}

.notification__compliment-wrapper,
.notification__score-wrapper,
.notification__credit{
  font-family: 'digitalClock';
  font-size: 10px;
  margin: 0 10px;
  position: absolute;
}

.notification__score-wrapper{
  top: 10px;  
}

.notification__compliment-wrapper{
  top: 50px;
}

.notification__credit{
  bottom: 10px;
}
.notification__credit p {
  margin: 0 0 5px;
}

.craft-author a{
  color: #000;  
}

.notification__score-wrapper p{
  margin: 0 0 5px;
  text-align: center;
}

.app__notification-wrapper div{
  display: inline-block;
}

.compliment__good p,
.compliment__bad p{
  font-size: 12px;
  margin: 0 0 5px;
}

.sidebar-notification__wrapper{
  position: relative;
  display: inline-block;
  width: 50px;
  height: 200px;
  background-color: #c4d0a2;
  margin-bottom: 10px;
  border-left: 1.5px solid #4a4a4a45;
  box-shadow: inset 0 3px rgba(0,0,0,0.15);
}

.app__controller-wrapper{
  margin-top: 50px;
  position: relative;
}

.app__controller-wrapper::before{
  content: "";
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 900px;
  background-color: #5a5959;
  position: absolute;
  z-index: 1; 
  left: 45px; 
  top: 5px;
}

.controller__horizontal,
.controller__vertical{
  border-radius: 5px;
  height: 60px;
  width: 140px;
  background-color: #444;
}

.controller__horizontal{
  position: absolute;  
}

.controller__vertical{
  position: absolute;
  transform: rotate(90deg);
}

.vertical__2,
.horizontal__2{
  float: right;
  height: 100%;
  width: 40px;  
}

.vertical__1,
.horizontal__1{
  float: left;
  height: 100%;
  width: 40px;
}

.vertical__2 img,
.vertical__1 img,
.horizontal__1 img,
.horizontal__2 img{
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.horizontal__1{
  box-shadow: -1px 5px 2px 0px rgba(0, 0, 0, 0.16);
}

.horizontal__2{
  box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.16);
}

.vertical__1{
  box-shadow: -1px -5px 2px 0px rgba(0, 0, 0, 0.16);  
}

.vertical__2{
  box-shadow: 4px -4px 2px 2px rgba(0, 0, 0, 0.16);
}

.controller__state-wrapper{
  position: absolute;
  top: 0;
  right: 0;
}

.controller__btn{
  background-color: #444;
  height: 30px;  
  width: 30px;
  margin: 0 10px;
  display: inline-block;
  border-radius: 500px;
  box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.16);
}

.controller-btn__wording{
  font-family: digitalClock;
  font-size: 10px;
  top: 40px;
  position: absolute;
}

.contribute-promo{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-family: 'digitalClock';
  text-align: center;   
  font-size: 10px;
}

.contribute-promo a{
  color: #000;
}

.contribute-promo img{
  height: 10px;
  width: auto;
  margin: 0 5px;
  vertical-align: middle
}